.body {
  background-color: rgb(245, 245, 133);
  color: rgb(255, 72, 0);
  min-height: 1000px;
}
.header {
  text-align: center;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}
.inputitem {
  margin-top: 2rem;
  text-align: center;
  align-items: center;
}

.item {
  color: rgb(47, 61, 189);
}
